<form class="modform">
    <select id="mode">
        <option value="add">Add</option>
        <option value="update">Update</option>
        <option value="deletestandard">Delete top-to-bottom</option>
        <option value="deletereverse">Delete bottom-up</option>
    </select>
        
    <select id="count">
        <option value=1>1</option>
        <option value=5>5</option>
        <option value=10>10</option>
        <option value=25>25</option>
        <option value=100>100</option>
    </select>
    
    row(s) at index
    
    <input id="index" type="text" value="0" class="index"/>
   
    <span id="go" class="yui-button yui-push-button">
        <span class="first-child">
            <button type="button">Go!</button>
        </span>
    </span>
</form>

<div id="basic"></div>

